<h4 mat-dialog-title class="dialog-headline">
  <mat-toolbar role="toolbar" class="dialog-header">
    <span> Log de Acciones</span>
    <span class="fx-spacer"></span>
    <button mat-icon-button (click)="cerrarDialogo()">
      <mat-icon mat-list-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h4>
<div mat-dialog-content>
  <br>
  <div class="container-fluid">
    <div  class="form-horizontal" >
      <div class="form-group row">
        <div class="col-md-12">
          <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">
              <ng-container matColumnDef="Indice">
                <mat-header-cell [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell [ngClass]="'w-75'" mat-cell *matCellDef="let element"> {{element.Indice}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="NombreUsuario">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Usuario</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.NombreUsuario}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="FechaRegistro">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Fecha y Hora</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.FechaRegistro | date: 'dd/MM/yyyy HH:mm'}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Descripcion">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Acción Realizada</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.Descripcion}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              <tr class="mat-row no-data-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se encontraron registro.</td>
              </tr>
            </mat-table>
            <div *ngIf="isLoading" class="spinner-container">
              <mat-progress-spinner
                [diameter]="50"
                color="primary"
                mode="indeterminate">
              </mat-progress-spinner>
            </div>
            <mat-paginator #paginator
                           [pageSize]="5"
                           [pageSizeOptions]="[5, 10, 20]">
            </mat-paginator>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-md-12 text-right">
          <button mat-raised-button class="btn btn-info" (click)="cerrarDialogo()">
            <mat-icon>block</mat-icon>
            Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
