
.btn-power {
	background-color: transparent;
	background-image: linear-gradient(hsl(223, 10%, 80%), hsl(223, 10%, 85%));
	border-radius: 50%;
	box-shadow:
		0 0 0 0.125em hsla(223, 90%, 50%, 0),
		0 0 0.25em hsl(223, 10%, 55%) inset,
		0 0.125em 0.125em hsl(223, 10%, 90%);
	cursor: pointer;
	margin: auto;
	outline: transparent;
	position: relative;
	width: 10em;
	height: 10em;
	transition: box-shadow 0.3s ease-in-out;
	-webkit-tap-highlight-color: transparent;
}

.btn-power:focus-visible {
	box-shadow:
		0 0 0 0.125em hsla(223, 90%, 50%, 1),
		0 0 0.25em hsl(223, 10%, 55%) inset,
		0 0.125em 0.125em hsl(223, 10%, 90%);
}

.btn-power:before,
.btn-power:after {
	border-radius: inherit;
	content: "";
	display: block;
	position: absolute;
}

.btn-power:before {
	background-image: linear-gradient(hsl(223, 10%, 90%), hsl(223, 10%, 80%));
	box-shadow: 0 0.75em 0.75em 0.25em hsla(223, 0%, 0%, 0.3);
	top: 1.5em;
	left: 1.5em;
	width: 7em;
	height: 7em;
	transition:
		box-shadow 0.3s cubic-bezier(0.42, -1.84, 0.42, 1.84),
		transform 0.3s cubic-bezier(0.42, -1.84, 0.42, 1.84);
}

.btn-power:after {
	background-color: hsl(223, 10%, 75%);
	background-image: linear-gradient(hsla(223, 10%, 90%, 0), hsl(223, 10%, 90%));
	box-shadow:
		0 0.0625em 0 hsl(223, 10%, 90%) inset,
		0 -0.0625em 0 hsl(223, 10%, 90%) inset,
		0 0 0 0 hsla(223, 90%, 60%, 0.1) inset;
	top: 3em;
	left: 3em;
	width: 4em;
	height: 4em;
	transition:
		background-color 0.3s ease-in-out,
		box-shadow 0.3s ease-in-out,
		transform 0.3s cubic-bezier(0.42, -1.84, 0.42, 1.84);
}

.btn__icon {
	display: block;
	position: absolute;
	top: calc(50% - 0.75em);
	left: calc(50% - 0.75em);
	width: 1.5em;
	height: 1.5em;
	transition: filter 0.3s ease-in-out;
	z-index: 1;
}

.btn__icon g {
	stroke: hsl(223, 10%, 70%);
	transition: stroke 0.3s ease-in-out;
}

.btn__sr {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}

.btn-power[aria-pressed="true"]:before,
.btn-power[aria-pressed="true"]:after,
.btn-power[aria-pressed="true"] .btn__icon {
	transform: scale(0.98);
}

.btn-power[aria-pressed="true"]:before {
	box-shadow: 0 0.375em 0.375em 0 hsla(223, 0%, 0%, 0.3);
	transition-timing-function: var(--trans-timing3);
}

.btn-power[aria-pressed="true"]:after {
	background-color: hsl(223, 10%, 90%);
	box-shadow:
		0 0.0625em 0  hsla(133, 90%, 50%, 0.5) inset,
		0 -0.0625em 0 hsla(133, 90%, 50%, 0.5) inset,
		0 0 0.75em 0.25em hsla(223, 90%, 60%, 0.1) inset;
	transition-timing-function: ease-in-out, ease-in-out, var(--trans-timing3);
}

.btn-power[aria-pressed="true"] .btn__icon {
	filter: drop-shadow(0 0 0.25em hsl(223, 90%, 60%));
}

.btn-power[aria-pressed="true"] .btn__icon g {
	stroke:  hsl(133, 90%, 50%);
}