<div class="main-content content-fadeIn">
  <div class="container-fluid">
    <div class="form-group row">
      <div class="col-md-12">
        <xng-breadcrumb></xng-breadcrumb>
        <br>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon"><i class="material-icons">mail_outline</i></div>
            <h4 class="card-title">REPORTES</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Estados" [formControl]="toppings" [(value)]="selectedEstados" multiple>
                    <mat-option *ngFor="let item of listaEstado" [value]="item">{{item.Nombre}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Paqueteria" [formControl]="toppings" [(value)]="selectedPaqueteria" multiple>
                    <mat-option *ngFor="let item of listaPaqueteria" [value]="item">{{item.Nombre}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Rango de fechas para extraer:</mat-label>
                  <mat-date-range-input [rangePicker]="pickerRangoFechasParaExtraer">
                    <input matStartDate placeholder="Fecha de inicio"
                      [(ngModel)]="_filtroRangoFechasParaExtraer.FechaRegDesde" datePickerFormat="DD/MM/YYYY">
                    <input matEndDate placeholder="Fecha fin" [(ngModel)]="_filtroRangoFechasParaExtraer.FechaRegHasta"
                      datePickerFormat="DD/MM/YYYY">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="pickerRangoFechasParaExtraer"></mat-datepicker-toggle>
                  <mat-date-range-picker #pickerRangoFechasParaExtraer></mat-date-range-picker>
                </mat-form-field>
              </div>
              <div class="col-md-2 text-right">
                <button (click)="btnListarReporteDetallado()" mat-raised-button class="btn btn-primary">
                  <mat-icon>search</mat-icon>
                  Exportar
                </button>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <h4 style="    font-weight: 400;">Solicitudes y Kilos transportados atendidas por área</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <mat-form-field appearance="outline">
                      <mat-label>Fechas</mat-label>
                      <mat-date-range-input [rangePicker]="pickerSolicitudYKiloTransportadosAtendidas">
                        <input matStartDate placeholder="Fecha de inicio"
                          [(ngModel)]="_filtroSolicitudYKiloTransportadosAtendidas.FechaRegDesde"
                          datePickerFormat="DD/MM/YYYY">
                        <input matEndDate placeholder="Fecha fin"
                          [(ngModel)]="_filtroSolicitudYKiloTransportadosAtendidas.FechaRegHasta"
                          datePickerFormat="DD/MM/YYYY">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix
                        [for]="pickerSolicitudYKiloTransportadosAtendidas"></mat-datepicker-toggle>
                      <mat-date-range-picker #pickerSolicitudYKiloTransportadosAtendidas></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 text-right">
                    <button (click)="btnSolicitudYKilosTransportados()" mat-raised-button class="btn btn-primary">
                      <mat-icon>search</mat-icon>
                      Buscar
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <canvas #rpt1></canvas>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <h4 style="    font-weight: 400;">Cumplimiento de las Órdenes de Entrega por zonales</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <mat-form-field appearance="outline">
                      <mat-label>Fechas</mat-label>
                      <mat-date-range-input [rangePicker]="pickerCumplimientoOrdenesEntregarPorZonales">
                        <input matStartDate placeholder="Fecha de inicio"
                          [(ngModel)]="_filtroCumplimientoOrdenesEntregarPorZonales.FechaRegDesde"
                          datePickerFormat="DD/MM/YYYY">
                        <input matEndDate placeholder="Fecha fin"
                          [(ngModel)]="_filtroCumplimientoOrdenesEntregarPorZonales.FechaRegHasta"
                          datePickerFormat="DD/MM/YYYY">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix
                        [for]="pickerCumplimientoOrdenesEntregarPorZonales"></mat-datepicker-toggle>
                      <mat-date-range-picker #pickerCumplimientoOrdenesEntregarPorZonales></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 text-right">
                    <button (click)="btnCumplimientoOrdenesEntregaPorZonales()" mat-raised-button
                      class="btn btn-primary">
                      <mat-icon>search</mat-icon>
                      Buscar
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <canvas #rpt2></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <h4 style="    font-weight: 400;">Gráfico de GD en base a su estado</h4>
                  </div>  
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <mat-form-field appearance="outline">
                      <mat-label>Fechas</mat-label>
                      <mat-date-range-input [rangePicker]="pickerGraficoEnbaseEstado">
                        <input matStartDate placeholder="Fecha de inicio"
                          [(ngModel)]="_filtroGraficoEnbaseEstado.FechaRegDesde" datePickerFormat="DD/MM/YYYY">
                        <input matEndDate placeholder="Fecha fin" [(ngModel)]="_filtroGraficoEnbaseEstado.FechaRegHasta"
                          datePickerFormat="DD/MM/YYYY">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="pickerGraficoEnbaseEstado"></mat-datepicker-toggle>
                      <mat-date-range-picker #pickerGraficoEnbaseEstado></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 text-right">
                    <button (click)="btnGraficoGDEnBaseSuEstado()" mat-raised-button class="btn btn-primary">
                      <mat-icon>search</mat-icon>
                      Buscar
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <canvas #rpt3></canvas>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <h4 style="    font-weight: 400;">Grafico de encuesta</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <mat-form-field appearance="outline">
                      <mat-label>Fechas</mat-label>
                      <mat-date-range-input [rangePicker]="pickerGraficoEncuesta">
                        <input matStartDate placeholder="Fecha de inicio"
                          [(ngModel)]="_filtroGraficoEncuesta.FechaRegDesde" datePickerFormat="DD/MM/YYYY">
                        <input matEndDate placeholder="Fecha fin" [(ngModel)]="_filtroGraficoEncuesta.FechaRegHasta"
                          datePickerFormat="DD/MM/YYYY">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="pickerGraficoEncuesta"></mat-datepicker-toggle>
                      <mat-date-range-picker #pickerGraficoEncuesta></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 text-right">
                    <button (click)="btnGraficoEncuesta()" mat-raised-button class="btn btn-primary">
                      <mat-icon>search</mat-icon>
                      Buscar
                    </button>
                  </div>
                </div>
                <div class="row">
                  <!-- <ngx-skeleton-loader class="col-md-12" *ngIf="!contentLoadedRpt4" count="6" appearance="line"
                    animation="progress" [theme]="{height: '35px','border-radius': 2  }">
                  </ngx-skeleton-loader> -->
                  <div class="col-md-12"  >                    
                      <canvas #rpt4 > </canvas>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>