<!--  <app-header [sidenav]="leftSidenav"></app-header>-->
<!--  <mat-sidenav-container class="sidenav-container">-->
<!--    <mat-sidenav #leftSidenav mode="side" opened>-->
<!--      <app-left-menu></app-left-menu>-->
<!--    </mat-sidenav>-->
<!--    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">-->
<!--      <div class="main_content">-->
<!--        <div style="padding: 20px;   ">-->
<!--          <router-outlet></router-outlet>-->
<!--        </div>-->
<!--      </div>-->
<!--      <footer class="footer mt-auto py-3 bg-light">-->
<!--        <div class="container-fluid">-->
<!--          <div class="row">-->
<!--            <div class="col-md-1">-->
<!--              <img _ngcontent-hao-c98="" src="./assets/img/logotgestiona.png" alt="">-->
<!--            </div>-->
<!--            <div class="col-md-11  mt-3">-->
<!--              <span class="text-muted" style=" margin-left: 12px;">Sistema de Facilities Management - EDI - Copyright 2022 © Todos los derechos reservados</span>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </footer>-->
<!--    </mat-sidenav-content>-->
<!--  </mat-sidenav-container>-->

<router-outlet></router-outlet>
