<div class="main-content content-fadeIn">
  <div class="container-fluid">
    <div class=" row">
      <div class="col-md-12">
        <xng-breadcrumb></xng-breadcrumb>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon"><i class="material-icons">description</i></div>
            <h4 class="card-title">ACTUALIZACIÓN MASIVA DE ÓRDENES DE ENTREGA</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <mat-progress-bar *ngIf="value==0?false:true" [value]="value" color="primary" class="progressbar"
              [class.active]="progressRef.isStarted"></mat-progress-bar>
              <div class="col-md-12">
                <mat-accordion class="example-headers-align" multi>
                  <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <!-- ACTUALIZACIÓN MASIVA DE ÓRDENES DE ENTREGA -->
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-6">
                              <h5><strong style="font-weight: 580;">CodigoXXXXXX</strong></h5>
                            </div>
                            <div class="offset-md-1 col-md-5">
                              <h5 class="text-lg-end"><strong style="font-weight: 580;">
                                  Estado XXXXXX </strong>
                              </h5>

                            </div>
                          </div>
                        </div>
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    
                    <div class="row">
                      <div class="col-md-3">
                        <div style="    height: auto;
                        padding: 19px;
                        margin-bottom: 20px;
                        background-color: #f5f5f5;
                        border: 1px solid #e3e3e3;
                        border-radius: 4px;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                    ">
                          Esta opción actualiza masivamente las órdenes de entrega que aún no fueron atendias,
                          desde un archivo excel que se debe adjuntar en este formulario.
                          Debe estar completamente seguro sobre la información que cargará al sistema, pues se
                          notificará a todos los usuarios sobre las actualizaciones de estado.
                      </div>
                      </div>                      
                      <div class="col-md-4">
                        <div class=" form-group row">
                          <div class="col-md-12">
                            <ngx-dropzone (change)="onSelect($event)" accept=".xlsx,.xls">
                              <ngx-dropzone-label>Arrastrar y soltar un archivo</ngx-dropzone-label>
                            </ngx-dropzone>
                          </div>
                        </div>
                       
                      </div>  
                      <div class="col-md-5">

                        <div class=" row">
                          <div class="col-md-12">
                            <div class="files-list">
                              <div class="single-file" *ngFor="let file of files; let i = index">
                                <span [ngClass]="{
                  'icon-pdf': file?.name.split('.').pop() === 'pdf' ,
                  'icon-excel' : file?.name.split('.').pop() === 'xlsx' || file?.name.split('.').pop() === 'xls',
                  'icon-img' : file?.name.split('.').pop() === 'png' || file?.name.split('.').pop() === 'jpeg' || file?.name.split('.').pop() === 'jpg'
                  }" class=""></span>
                                <div style="width: 72%;">
                                  <h4 class="name">
                                    {{ file?.name }}
                                  </h4>
                                  <p class="size">
                                    {{ formatBytes(file?.size) }}
                                  </p>
                                  <app-progress [progress]="file?.progress"></app-progress>
                                </div>
                                <!--<mat-icon matSuffix>file_download</mat-icon>-->
                                <button mat-icon-button aria-label="" (click)="deleteFile(i)">
                                  <mat-icon matSuffix>delete</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class=" row" [hidden]="files.length === 0">
                          <div class="col-md-12 text-right">
                            <button (click)="btnActualizarTickets()" class="btn btn-success" mat-raised-button>
                              <mat-icon>settings</mat-icon>
                              ACTUALIZAR TICKETS
                            </button>
                          </div>
                        </div>
                        
                      </div>                    
                    </div>
                  </mat-expansion-panel>



                  <mat-expansion-panel [expanded]="matexpansionpaneldatosgenerales">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Resultado Búsqueda
                      </mat-panel-title>
                      <mat-panel-description>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="form-group  row" [hidden]="dataSource?.length === 0">
                      <button class="btn btn-primary" *ngIf="dataSource?.length > 0" (click)="btnDescargarExcel()" mat-raised-button>
                        <mat-icon>do_not_disturb_on</mat-icon>
                        download
                      </button>
                    </div>
                    <div class="form-group row">
                      <mat-sidenav-container>
                        <mat-sidenav-content>                          
                          <div class="table-container">
                            <table mat-table [dataSource]="dataSource" class="table">
                              <!-- <ng-container matColumnDef="select">
                                <mat-header-cell [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef>
                                  <mat-checkbox [color]="'primary'" (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                  </mat-checkbox>
                                </mat-header-cell>
                                <mat-cell mat-cell [ngClass]="'w-75'" *matCellDef="let row">
                                  <mat-checkbox [color]="'primary'" (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                                  </mat-checkbox>
                                </mat-cell>
                              </ng-container> -->
                              
                              <ng-container matColumnDef="CodigoSolicitud">
                                <mat-header-cell class="table-column-130 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>
                                  Codigo de Solicitud
                                </mat-header-cell>
                                <mat-cell class="table-column-130 text-justify-content" *matCellDef="let row">
                                  <a [routerLink]="['/solicitud/editarsolicitud',row.Id]" queryParamsHandling="merge">
                                    {{row.Codigo}}
                                  </a>
                                </mat-cell>
                              </ng-container>                           
                              <ng-container matColumnDef="TipoServicio">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Tipo Servicio
                                </mat-header-cell>
                                <mat-cell class="table-column-200" *matCellDef="let row"> {{row.TipoServicio}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="Solicitante">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Solicitante
                                </mat-header-cell>
                                <mat-cell class="table-column-200" *matCellDef="let row"> {{row.Solicitante}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="Prioridad">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Prioridad
                                </mat-header-cell>
                                <mat-cell class="table-column-200" *matCellDef="let row"> {{row.Prioridad}}
                                </mat-cell>
                              </ng-container>
                              
                             
                              <ng-container matColumnDef="FRegistro">
                                <mat-header-cell class="table-column-150 text-justify-content" *matHeaderCellDef> F.Registro
                                </mat-header-cell>
                                <mat-cell class="table-column-150 text-justify-content"
                                  *matCellDef="let row; let i=index;">
                                  {{row.FechaRegistro | date: 'dd/MM/yyyy HH:mm'}}</mat-cell>
                              </ng-container>
                             
                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"
                                [ngClass]=" i % 2 != 0 ? 'row-color-tb' : ''"></mat-row>
                              <tr class="mat-row no-data-row" *matNoDataRow>
                                <td class="mat-cell" colspan="9">No se encontraron registro.</td>
                              </tr>
                              <!--                </mat-table>-->
                            </table>
                            <div *ngIf="isLoading" class="spinner-container">
                              <mat-progress-spinner [diameter]="50" color="primary" mode="indeterminate">
                              </mat-progress-spinner>
                            </div>
                          </div>
                          <div>
                            <mat-paginator #paginator [hidden]="dataSource?.length === 0" [length]="totalRegistros"
                              (page)="pageChanged($event)" [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 50, 100]">
                            </mat-paginator>
                          </div>
                          <!-- end table container -->
                          <!--                    </div>-->
                        </mat-sidenav-content>
                      </mat-sidenav-container>
                      <!--              </div>-->
                    </div>
                  </mat-expansion-panel>

              

                </mat-accordion>
              </div>
            </div>
          </div>
          <!--          <div class="card-footer"></div>-->
        </div>
      </div>
    </div>
  </div>
</div>