<h4 mat-dialog-title class="dialog-headline">
  <mat-toolbar role="toolbar" class="dialog-header">
    <span> {{data.titulo}}</span>
    <span class="fx-spacer"></span>
    <button mat-icon-button (click)="cerrarDialogo()">
      <mat-icon mat-list-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h4>
<div mat-dialog-content>
  <br>
  <br>
  <div class="container-fluid">
    <form [formGroup]="datosBasicosFormGroup" class="form-horizontal" (ngSubmit)='confirmado()'>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Tarifario</mat-label>
            <mat-select formControlName="tarifarioCtrl" (selectionChange)="onSelectEventTarifario($event.value)">
              <mat-option value="0">--SELECCIONE--</mat-option>
              <mat-option *ngFor="let item of listTarifado" [value]="item.Id">{{item.Nombre}}</mat-option>
            </mat-select>
            <mat-error *ngIf="datosBasicosFormGroup.controls['tarifarioCtrl'].hasError('required')">
              Es necesario la tarifario !
            </mat-error>
          </mat-form-field>
        </div>


      </div>
      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Servicio</mat-label>
            <input matInput aria-label="Servicio" [matAutocomplete]="auto" [formControl]="servicioCtrl"
              formControlName="servicioCtrl" required>
            <a href="javascript:void(0);" mat-button matSuffix mat-icon-button aria-label="Clear"
              (click)="searchServicio()">
              <mat-icon>search</mat-icon>
            </a>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnNombreServicio" (optionSelected)='matAutocompleteSeleccionServicio($event.option.value)'>
              <mat-option *ngFor="let state of filteredELEMENT_DATA | async" [value]="state">
                <img class="example-option-img" aria-hidden src="./assets/img/deepgrade_logo.png" height="25">
                <small style="margin-left: 10px; margin-right: 10px;">{{state.Codigo}}</small>|
                <small style="margin-left: 10px; margin-right: 10px;"> {{state.Nombre}}</small>|
                <small style="margin-left: 10px; margin-right: 10px;"> {{state.PrecioUnitario }}</small>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="datosBasicosFormGroup.get('servicioCtrl')?.hasError('required')">
              Es necesario el servicio!
            </mat-error>
          </mat-form-field>

          <!--<mat-form-field appearance="outline">
            <mat-label>Servicio</mat-label>
            <mat-select formControlName="unidadCtrl" >
              <mat-option value="0">--SELECCIONE--</mat-option>
              <mat-option *ngFor="let item of listUnidadMedida" [value]="item.Id">{{item.Nombre}}</mat-option>
            </mat-select>
            <mat-error *ngIf="datosBasicosFormGroup.controls['unidadCtrl'].hasError('required')">
              Es necesario la Unidad !
            </mat-error>
          </mat-form-field>-->
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label> Unidad</mat-label>
            <input matInput type="text" placeholder="Unidad" readonly="readonly" formControlName="materialCtrl">

          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label> Precio Unit.</mat-label>
            <input matInput type="number" readonly="readonly" placeholder="Precio Unitario"
              formControlName="preciounitarioCtrl">

          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="monedaCtrl">
              <mat-option value="0">--SELECCIONE--</mat-option>
              <mat-option *ngFor="let item of listMoneda" [value]="item.Id">{{item.Nombre}}</mat-option>
            </mat-select>
            <mat-error *ngIf="datosBasicosFormGroup.controls['monedaCtrl'].hasError('required')">
              Es necesario la moneda !
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label> Cantidad.</mat-label>
            <input matInput type="number" (keyup)="onKeyUpCantidad($event)" placeholder="Cantidad"
              formControlName="cantidadCtrl">
            <mat-error *ngIf="datosBasicosFormGroup.controls['cantidadCtrl'].hasError('required')">
              Es necesario Cantidad !
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label> Precio Total.</mat-label>
            <input matInput type="number" readonly="readonly" placeholder="Precio Total"
              formControlName="precioTotalCtrl">
          </mat-form-field>
        </div>
      </div>


      <br>
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="btn btn-primary" mat-raised-button color="accent">
            <mat-icon>check</mat-icon>
            Aceptar
          </button>
        </div>
      </div>
    </form>
  </div>


</div>