<div class="main-content">
  <div class="container-fluid">
<!--    <div class="row" style="height: 25vh;">-->
<!--      <div class="col-md-4">-->
<!--        <div class="content-presenter">-->
<!--          <h3 class="content-presenter_title">Gestione sus modulos</h3>-->
<!--          <p class="content-presenter_subtitle">Hola Soporte obtenga información sobre los modulos disponibles.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-1">-->
<!--        <div class="card content-striped" style="flex-basis: 8%;margin: 1rem">-->
<!--          <span class="content-striped_x">+</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-7">-->
<!--        <div class="row-vertical">-->
<!--          <div class="card" [ngStyle]="{'background-color':x.color}" *ngFor="let x of modulosDisponibles">-->
<!--            <div class="content-header">-->
<!--              <span class="content-header_number"><ng-lottie width="40px" [options]="optionsCubo"></ng-lottie></span>-->
<!--            </div>-->
<!--            <div class="content-body">-->
<!--              <p class="content-body_title">-->
<!--                {{x.nombre}}</p>-->
<!--              <span class="content-body_data">124 MB</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row" style="height: 55vh;">-->
<!--      <div class="col-md-4">-->
<!--        <div class="content-module">-->
<!--          <div class="content-module_header">-->
<!--            <h1 class="content-module_title">Uso de los modulos en los ultimos 7 días</h1>-->
<!--          </div>-->
<!--          <ng-lottie width="250px" [options]="options" style="text-align: -webkit-center;"></ng-lottie>-->
<!--          <div style="max-height: 200px;overflow-y: auto;padding: 10px">-->
<!--            <table class="table table-striped table-hover table-sm table-bordered">-->
<!--              <thead>-->
<!--              <tr>-->
<!--                <th scope="col"></th>-->
<!--                <th scope="col">Modulo</th>-->
<!--                <th scope="col">#Veces</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr *ngFor="let x of usoModulos">-->
<!--                <th scope="row">-->
<!--                  <div class="data-left_content-color" [ngStyle]="{'background-color':x.color}"></div>-->
<!--                </th>-->
<!--                <td>{{x.nombre}}</td>-->
<!--                <td>{{x.cantidad}}</td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-8">-->
<!--        <div class="contentList">-->

<!--          <div class="content-user">-->
<!--            <h1 class="content-user_title">Ultimas acciones</h1>-->
<!--            <i class="material-icons content-user_action">-->
<!--              widgets-->
<!--            </i>-->
<!--          </div>-->
<!--          <div style="padding: 10px;max-height: 400px;overflow-y: auto">-->
<!--            <table class="table table-striped table-hover table-sm table-bordered">-->
<!--              <thead>-->
<!--              <tr>-->
<!--                <th scope="col">Modulo</th>-->
<!--                <th scope="col">Descripción</th>-->
<!--                <th scope="col">Fecha</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr *ngFor="let x of ultimasAcciones">-->
<!--                <th scope="row">{{x.nombre}}</th>-->
<!--                <td>{{x.descripcion}}</td>-->
<!--                <td>{{fechadesde(x.fecha)}}</td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
  </div>
</div>
