<div class="main-content content-fadeIn">
  <div class="container-fluid">
    <div class=" row">
      <div class="col-md-12">
        <xng-breadcrumb></xng-breadcrumb>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon"><i class="material-icons">description</i></div>
            <h4 class="card-title">SOLICITUD DE DISTRIBUCION</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <mat-progress-bar *ngIf="value==0?false:true" [value]="value" color="primary" class="progressbar"
                [class.active]="progressRef.isStarted"></mat-progress-bar>
                <mat-accordion class="example-headers-align" multi>
                  <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        SOLICITUD DE DISTRIBUCION
                      </mat-panel-title>
                      <mat-panel-description>
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-6">
                              <h5><strong style="font-weight: 580;">{{ticket==undefined ? "": ticket.Codigo}}</strong></h5>
                            </div>
                            <div class="offset-md-1 col-md-5">
                              <h5 class="text-lg-end" *ngIf="ticketId!==0"><strong style="font-weight: 580;">
                                {{ticket==undefined ?  "": ticket.Estado}} </strong>
                              </h5>

                            </div>
                          </div>
                        </div>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <h5 *ngIf="!bloquearTodo" style="color: red">{{mensajeBloqueo}}</h5>
                    <div class="row" *ngIf="bloquearTodo">
                      <div class="col-md-12">
                        <button class="btn btn-warning" mat-raised-button (click)="Cancelar()">
                          <mat-icon>block</mat-icon>
                          Cancelar
                        </button>
                        <button (click)="btnCargaMasivaDistribucion()" class="btn btn-info" mat-raised-button>
                          <mat-icon>cloud_upload</mat-icon>
                          CARGAR MASIVA DISTRIBUCIÓN
                        </button>
                        <button (click)="btnCargaMasivaDistribucionOtros()" class="btn btn-info" mat-raised-button>
                          <mat-icon>cloud_upload</mat-icon>
                          CARGAR MASIVA OTROS
                        </button>
                        <button (click)="btnGrabar()" *ngIf="ticket==undefined" class="btn btn-primary" mat-raised-button>
                          <mat-icon>send</mat-icon>
                          ENVIAR
                        </button>
                        <button (click)="aprobar()" *ngIf="permisos.AprobarRechazar" class="btn btn-success" mat-raised-button>                          
                          APROBAR
                        </button> 
                      <button (click)="rechazar()" *ngIf="permisos.AprobarRechazar" class="btn btn-warning" mat-raised-button>                          
                          RECHAZAR
                        </button>
                        <button (click)="anular()" *ngIf="permisos.PermiteAnularTicket" class="btn btn-danger" mat-raised-button>                          
                          ANULAR
                        </button>
                     
                        <!-- <button (click)="aprobar()"  class="btn btn-success" mat-raised-button>                          
                          APROBAR
                        </button>
                        <button (click)="rechazar()"  class="btn btn-warning" mat-raised-button>                          
                          RECHAZAR
                        </button>
                        <button (click)="anular()"  class="btn btn-danger" mat-raised-button>                          
                          ANULAR
                        </button> -->
                        
                      </div>
                      <div class="col-md-12">
                        <br />
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-2">
                                <label class="control-label">Solicitante:</label>
                              </div>
                              <div class="col-md-10">
                                <label class="control-label">{{ticket ? ticket.Solicitante : datosEdi.ApellidoPaterno + " " + datosEdi.ApellidoMaterno + "
                                  " + datosEdi.Nombre}}</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-2">
                                <label class="control-label">Correo:</label>
                              </div>
                              <div class="col-md-10">
                                <label class="control-label">{{ticket ? ticket.Email : datosEdi.Email}}</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-2">
                                <label class="control-label">Telefono:</label>
                              </div>
                              <div class="col-md-10">
                                <label class="control-label">{{ticket ? ticket.Celular : datosEdi.Celular}} </label>
                              </div>
                            </div>

                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-3">
                                <label class="control-label">Fecha de Registro:</label>
                              </div>
                              <div class="col-md-9">
                                <label class="control-label">{{ticket ? (ticket.FechaRegistro | date: 'dd/MM/yyyy HH:mm a'):datosDistribucion.sol.disponibilidad | date: 'dd/MM/yyyy  HH:mm'}}</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <label class="control-label">Fecha Estimada Entrega:</label>
                              </div>
                              <div class="col-md-9">
                                <label class="control-label">{{ticket ? (ticket.FechaEstimadaAtencion | date: 'dd/MM/yyyy HH:mm a'):datosDistribucion.sol.disponibilidad | date: 'dd/MM/yyyy  HH:mm'}}</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <label class="control-label">Sede / Agencia:</label>
                              </div>
                              <div class="col-md-9">
                                <label class="control-label">{{ticket ? ticket.UbicacionSolicitante : '(2105)SAN BORJA-EDIFICIO 1-PISO 1'}}</label>
                              </div>
                            </div>
                          </div>
                        </div>                        
                      </div>
                    </div>
                  </mat-expansion-panel>

                  <mat-expansion-panel [expanded]="matexpansionpaneldatosgenerales">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        DATOS GENERALES / ITEMS
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- <mat-tab-group [color]="'accent'" [backgroundColor]="'primary'"> -->
                      <mat-tab-group >
                      <mat-tab label="DATOS GENERALES ">
                        <fieldset class="form-group p-3">
                          <legend class="w-auto px-2">DATOS GENERALES</legend>
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Descripción de Items</mat-label>
                                <input matInput placeholder="Ingrese Descripción de Items"
                                  [(ngModel)]="datosDistribucion.sol.descripcion" [readonly]="ticket ? true : false" >
                              </mat-form-field>
                            </div>                                                               
                            <div class="col-md-2" *ngIf="(datosDistribucion.sol.origen.Id === 345 && datosDistribucion.sol.destino.Id === 347) || (datosDistribucion.sol.origen.Id === 347 && datosDistribucion.sol.destino.Id === 345)">
                              <mat-form-field appearance="outline">
                                <mat-label>Celular Contacto</mat-label>
                                <input matInput placeholder="Celular Contacto"
                                  [(ngModel)]="datosDistribucion.sol.CelularPersonaContacto" [readonly]="ticket ? true : false">
                              </mat-form-field>
                            </div>
                            <div class="col-md-2" *ngIf="(datosDistribucion.sol.origen.Id === 345 && datosDistribucion.sol.destino.Id === 347) || (datosDistribucion.sol.origen.Id === 347 && datosDistribucion.sol.destino.Id === 345)">
                              <mat-form-field appearance="outline">
                                <mat-label>Personas contacto</mat-label>
                                <input matInput placeholder="Personas contacto"
                                  [(ngModel)]="datosDistribucion.sol.NombrePersonaContacto" [readonly]="ticket ? true : false">
                              </mat-form-field>
                            </div>
                            <div class="col-md-2" *ngIf="(datosDistribucion.sol.origen.Id === 345 && datosDistribucion.sol.destino.Id === 347) || (datosDistribucion.sol.origen.Id === 347 && datosDistribucion.sol.destino.Id === 345)">
                              <mat-form-field appearance="outline">
                                <mat-label>Correo contacto</mat-label>
                                <input matInput placeholder="Correo contacto  "
                                  [(ngModel)]="datosDistribucion.sol.CorreoPersonaContacto" [readonly]="ticket ? true : false">
                              </mat-form-field>
                            </div>
                          </div>                          
                          <div class="row" *ngIf="ticket!==undefined">
                            <div class="col-md-3" >
                              <mat-form-field appearance="outline">
                                <mat-label>Proveedor</mat-label>
                                <mat-select  [(ngModel)]="datosDistribucion.sol.proveedor.Id">
                                  <mat-option *ngFor="let proveedor of listProveedor" [value]="proveedor.Id">
                                    {{proveedor.Nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Tipo de Servicio</mat-label>
                                <mat-select   [disabled]="ticket ? true : false" (selectionChange)="seleccionarTipoServicio($event.value)"
                                  [(ngModel)]="datosDistribucion.sol.tiposervicio.Id">
                                  <mat-option *ngFor="let tipoServicio of listTipoServicio" [value]="tipoServicio.Id">
                                    {{tipoServicio.Nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Prioridad</mat-label>
                                <mat-select #cboPrioidad [disabled]="ticket ? true : false" [(ngModel)]="datosDistribucion.sol.prioridad.Id">
                                  <mat-option *ngFor="let prioridad of listPrioridad" [value]="prioridad.Id">
                                    {{prioridad.Nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            
                            <div class="col-md-6" *ngIf="ticket!==undefined">
                              <mat-form-field appearance="outline">
                                <mat-label>Centro de Costo</mat-label>
                                <mat-select [(ngModel)]="datosDistribucion.sol.centrocosto.Id">
                                  <mat-option *ngFor="let centrocosto of listCentroCosto" [value]="centrocosto.Id">
                                    {{centrocosto.Nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <fieldset class="form-group p-3">
                                <legend class="w-auto px-2">Origen</legend>
                                <div class="row" *ngIf="ticket==null">
                                  <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Tipo Origen</mat-label>
                                      <mat-select (selectionChange)="seleccionarOrigen($event.value)"
                                        [(ngModel)]="datosDistribucion.sol.origen.Id">
                                        <mat-option *ngFor="let tipoOrigen of listOrigen" [value]="tipoOrigen.Id"
                                          [disabled]="tipoOrigen.Disabled">
                                          {{tipoOrigen.Nombre}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6" *ngIf="datosDistribucion.sol.origen.Id !== 347">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Agencia Origen</mat-label>
                                      <mat-select #cbosedeOrigen [(ngModel)]="datosDistribucion.sol.sedeOrigen.Id"
                                        (selectionChange)="seleccionarSedeOrigen($event.value)">
                                        <mat-option *ngFor="let agenciaOrigen of listAgenciaOrigen"
                                          [value]="agenciaOrigen.Id">
                                          {{agenciaOrigen.Nombre}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6"
                                    *ngIf="(datosDistribucion.sol.tiposervicio.Id === 343 || datosDistribucion.sol.tiposervicio.Id === 344)  && datosDistribucion.sol.origen.Id === 347">
                                    <div class="row">
                                      <div class="col-lg-6">
                                        Seleccionar Origen:
                                      </div>
                                      <div class="col-lg-6">
                                        <button mat-raised-button mat-min-fab class="btn btn-warning btn-round btn-fab">
                                          <i class="material-icons">location_on</i>
                                        </button>
                                        <!-- <button type="button" class="btn btn-sm btn-warning"
                                          ng-click="mostrarMapaOrigen(undefined,ticketId)">
                                          <span class="fa fa-map-marker"></span>
                                        </button> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row" *ngIf="ticketId==0">
                                  <div class="col-md-12">
                                    <mat-form-field appearance="outline" [style.fontSize.px]=12>
                                      <mat-label>Dirección Origen</mat-label>
                                      <!-- formControlName="descripcionDetalladaCtrl" -->
                                      <textarea matInput disabled="disabled" required
                                        [(ngModel)]="datosDistribucion.sol.direccion_origen"></textarea>
                                    </mat-form-field>
                                  </div>
                                </div>

                                <div slimscroll="{height:'150px'}" *ngIf="ticketId!=0">
                                  <div class="well" *ngFor="let x of origen_list">
                                    {{x.Origen}} <br /> {{x.DireccionOrigen}} <br
                                      ng-show="x.DireccionMapaOrigen !=='' " />
                                    {{x.DireccionMapaOrigen}}<br /> {{x.UbigeoOrigen}}
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            <div class="col-md-6">
                              <fieldset class="form-group p-3">
                                <legend class="w-auto px-2">Destino</legend>
                                <div class="row" *ngIf="ticket==null">
                                  <div class="col-md-6" >
                                    <mat-form-field appearance="outline">
                                      <mat-label>Tipo Destino</mat-label>
                                      <mat-select (selectionChange)="seleccionarDestino($event.value)"
                                        [disabled]="!datosDistribucion.sol.origen"
                                        [(ngModel)]="datosDistribucion.sol.destino.Id">
                                        <mat-option *ngFor="let tipoDestino of listDestino" [value]="tipoDestino.Id">
                                          {{tipoDestino.Nombre}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6" *ngIf="datosDistribucion.sol.destino.Id !== 347">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Agencia Destino</mat-label>
                                      <mat-select #cbosedeDestino (selectionChange)="seleccionarSedeDestino($event.value)"
                                        [(ngModel)]="datosDistribucion.sol.sedeDestino.Id">
                                        <mat-option *ngFor="let agenciaDestino of listAgenciaDestino"
                                          [value]="agenciaDestino.Id">
                                          {{agenciaDestino.Nombre}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>

                                </div>
                                <div class="row" *ngIf="ticketId==0">
                                  <div class="col-md-12">
                                    <mat-form-field appearance="outline" [style.fontSize.px]=12>
                                      <mat-label>Dirección Destino</mat-label>                                      
                                      <textarea matInput [disabled]="datosDistribucion.sol.destino.Id !== 347"
                                        [(ngModel)]="datosDistribucion.sol.direccion_destino"></textarea>
                                    </mat-form-field>
                                  </div>
                                </div>
                                 <div slimscroll="{height:'150px'}" *ngIf="ticketId!=0">
                                  <div class="well" *ngFor="let x of destino_list">
                                    {{x.Destino}} <br /> {{x.DireccionDestino}} <br
                                      ng-show="x.DireccionMapaDestino !=='' " />
                                    {{x.DireccionMapaDestino}}<br /> {{x.UbigeoDestino}}
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </div>
                          <br>
                          <div class=" row">
                            <div class="col-md-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Tipo de Paquete</mat-label>
                                <mat-select #cboTipoPaquete [disabled]="ticket ? true : false" [(ngModel)]="datosDistribucion.sol.tipopaquete.Id">
                                  <mat-option *ngFor="let tipoPaquete of listTipoPaquete" [value]="tipoPaquete.Id">
                                    {{tipoPaquete.Nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Usuario Destino</mat-label>
                                <mat-select [disabled]="ticket ? true : false" [(ngModel)]="datosDistribucion.sol.usuario_destino.Id">
                                  <mat-option *ngFor="let usuario of UsuarioDestino" [value]="usuario.Id">
                                    {{usuario.Nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </fieldset>
                      </mat-tab>
                      <mat-tab label="ITEMS" *ngIf="ticket==undefined">
                        <br />
                        <div class=" row">
                          <div class="col-md-8">                            
                            <table mat-table #tableItem [dataSource]="dataSourceItems" class="mat-elevation-z8">
                              <ng-container matColumnDef="Destino">
                                <mat-header-cell class="table-column-130 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>
                                  Destino
                                </mat-header-cell>
                                <mat-cell class="table-column-200 text-justify-content" *matCellDef="let row">
                                  {{row.Destino}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="Descripcion">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Descripción
                                </mat-header-cell>
                                <mat-cell class="table-column-200 text-justify-content" *matCellDef="let row">
                                  {{row.Item}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="Cantidad">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Cantidad
                                </mat-header-cell>
                                <mat-cell class="table-column-200 text-justify-content" *matCellDef="let row">
                                  {{row.Cantidad}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="UndMed">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Und.Med.
                                </mat-header-cell>
                                <mat-cell class="table-column-200  text-justify-content" *matCellDef="let row">
                                  {{row.UnidadMedida }}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="Accion">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Acción
                                </mat-header-cell>
                                <mat-cell class="table-column-200  text-justify-content" *matCellDef="let row">
                                  <button mat-raised-button (click)="btnEliminarItem(row)"
                                    class="btn btn-primary pull-right">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                                </mat-cell>
                              </ng-container>
                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"
                                [ngClass]=" i % 2 != 0 ? 'row-color-tb' : ''"></mat-row>
                              <tr class="mat-row no-data-row" *matNoDataRow>
                                <td class="mat-cell" colspan="5">No se encontraron registro.</td>
                              </tr>
                            </table>
                          </div>
                          <div class="col-md-4">
                            <form [formGroup]="datosBasicosItemFormGroup" class="form-horizontal"
                              (ngSubmit)='btnAgregarItem()'>
                              <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Descripción</mat-label>
                                    <input matInput placeholder="Ingrese Descripción" formControlName="descripcionCtrl">
                                    <mat-error
                                      *ngIf="datosBasicosItemFormGroup.get('descripcionCtrl')?.hasError('required')">
                                      Es necesario la descripción!
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Cantidad</mat-label>
                                    <input matInput type="number" placeholder="Ingrese Descripción de Cantidad"
                                      formControlName="cantidadCtrl">
                                    <mat-error
                                      *ngIf="datosBasicosItemFormGroup.get('cantidadCtrl')?.hasError('required')">
                                      Es necesario la cantidad!
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Und.Med.</mat-label>
                                    <mat-select formControlName="unidadMedidaCtrl">
                                      <mat-option *ngFor="let item of listUnidadMedida" [value]="item">
                                        {{item.Nombre}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error
                                      *ngIf="datosBasicosItemFormGroup.get('unidadMedidaCtrl')?.hasError('required')">
                                      Es necesario la unidad de medida!
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <button mat-raised-button class="btn btn-primary pull-right">
                                    <mat-icon>add</mat-icon>
                                    Agregar
                                  </button>
                                </div>
                              </div>
                            </form>

                          </div>
                        </div>
                      </mat-tab>
                      <mat-tab label="DISTRIBUCIÓN" *ngIf="ticket!==undefined">
                        <br />
                        <div class=" row" style="height: 142px;
                        padding: 19px;
                        margin-bottom: 20px;
                        background-color: #f5f5f5;
                        border: 1px solid #e3e3e3;
                        border-radius: 4px;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);">
                          <div class="col-md-5"> 
                            <div >                            
                            Leyenda: 
                            <button style="padding: 12px 16px;color: black;" mat-raised-button class="btn btn-link btn-youtube">
                              <i style="top: -3px;" class="fa fa-home"></i> En Almacén
                            </button>
                            <button style="padding: 12px 16px;color: blue;" mat-raised-button class="btn btn-link btn-youtube">
                              <i style="top: -3px;"  class="fa fa-truck"></i> En Reparto
                            </button>
                            <button style="padding: 12px 16px;color: green;" mat-raised-button class="btn btn-link btn-youtube">
                              <i style="top: -3px;"  class="fa fa-check-square"></i> Entregado
                            </button>
                            <button style="padding: 12px 16px;color: red;" mat-raised-button class="btn btn-link btn-youtube">
                              <i style="top: -3px;"  class="fa fa-circle"></i> Rezagado
                            </button>                            
                          </div>
                          </div>
                          <div class="col-md-4">
                            <div style="    background: white;
                            padding: 8px;
                            border-radius: 13px;
                            height: 57px;">
                            {{porcentaje_txt}}
                            <div class="spacer"></div>
                            <mat-progress-bar *ngIf="porcentaje_val == 0 ? false : true" [value]="porcentaje_val" color="primary" class="progressbar"></mat-progress-bar>
                          </div>
                          </div>
                          <div class="col-md-3">
                            <div  style="width:240px;    margin-top: -64px;">
                              <canvas #rpt1></canvas>
                            </div>
                          </div>
                        </div>
                        <div class=" row">
                          <div class="col-md-12">     
                            <button class="btn btn-info" (click)="btnVerDetalleOrdenes()" *ngIf="ordenesMatTableDataSource.data.length > 0"  mat-raised-button>
                              <mat-icon>do_not_disturb_on</mat-icon>
                              Ver
                            </button>
                            <button class="btn btn-warning" (click)="btnExportarExcelOrdenes()" *ngIf="ordenesMatTableDataSource.data.length > 0"  mat-raised-button>
                              <mat-icon>do_not_disturb_on</mat-icon>
                              Exp. Excel
                            </button>                       
                          </div>
                        </div>
                        <div class=" row">
                          <div class="col-md-12">                            
                            <table mat-table #table [dataSource]="ordenesMatTableDataSource" class="mat-elevation-z8">
                              <ng-container matColumnDef="estado">
                                <mat-header-cell class="table-column-10 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>
                                  #
                                </mat-header-cell>
                                <mat-cell class="table-column-10 text-justify-content" *matCellDef="let row">                                  
                                  <button *ngIf="row.IdEstado == 355"  style="padding: 12px 16px;color: black;" mat-raised-button class="btn btn-link btn-youtube">
                                    <i style="top: -3px;" class="fa fa-home"></i> 
                                  </button>
                                  <button *ngIf="row.IdEstado == 356" style="padding: 12px 16px;color: blue;" mat-raised-button class="btn btn-link btn-youtube">
                                    <i style="top: -3px;"  class="fa fa-truck"></i> 
                                  </button>
                                  <button *ngIf="row.IdEstado == 357" style="padding: 12px 16px;color: green;" mat-raised-button class="btn btn-link btn-youtube">
                                    <i style="top: -3px;"  class="fa fa-check-square"></i>
                                  </button>
                                  <button *ngIf="row.IdEstado == 364" style="padding: 12px 16px;color: red;" mat-raised-button class="btn btn-link btn-youtube">
                                    <i style="top: -3px;"  class="fa fa-circle"></i> 
                                  </button>                                   
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="CodigoOE">
                                <mat-header-cell class="table-column-130 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>
                                  Codigo OE
                                </mat-header-cell>
                                <mat-cell class="table-column-200 text-justify-content" *matCellDef="let row">
                                  {{row.Codigo}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="Glosa">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Glosa
                                </mat-header-cell>
                                <mat-cell class="table-column-200 text-justify-content" *matCellDef="let row">
                                  {{row.Glosa}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="Origen">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Origen
                                </mat-header-cell>
                                <mat-cell class="table-column-200 text-justify-content" *matCellDef="let row">
                                  {{row.Origen}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="DireccionOrigen">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Dirección
                                </mat-header-cell>
                                <mat-cell class="table-column-200  text-justify-content" *matCellDef="let row">
                                  {{row.DireccionOrigen }}
                                </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="Destino">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Destino
                                </mat-header-cell>
                                <mat-cell class="table-column-200  text-justify-content" *matCellDef="let row">
                                  {{row.Destino }}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="DireccionDestino">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Dirección
                                </mat-header-cell>
                                <mat-cell class="table-column-200  text-justify-content" *matCellDef="let row">
                                  {{row.DireccionDestino }}
                                </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="FechaEstimadaEntrega">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Fecha Estimada Entrega
                                </mat-header-cell>
                                <mat-cell class="table-column-200  text-justify-content" *matCellDef="let row">
                                  {{row.FechaEstimadaEntrega }}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="FechaRealEntrega">
                                <mat-header-cell class="table-column-200 text-justify-content" *matHeaderCellDef
                                  mat-sort-header>Fecha Real Entrega
                                </mat-header-cell>
                                <mat-cell class="table-column-200  text-justify-content" *matCellDef="let row">
                                  {{row.FechaDespacho }}
                                </mat-cell>
                              </ng-container>                              
                              <mat-header-row *matHeaderRowDef="displayedColumnsDistribucion"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumnsDistribucion; let i = index;"
                                [ngClass]=" i % 2 != 0 ? 'row-color-tb' : ''"></mat-row>
                              <tr class="mat-row no-data-row" *matNoDataRow>
                                <td class="mat-cell" colspan="8">No se encontraron registro.</td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </mat-tab>
                      <mat-tab label="LOGS" *ngIf="ticket!==undefined">
                        <br />
                        <div class=" row">
                          <div class="col-md-6">    
                            <div class="container-lineatiempo">
                              <div class="lineatiempo">
                                  <ul>
                                      <li *ngFor="let row of listLogs">
                                          <div class="bullet green"></div>
                                          <div class="time">{{row.FechaRegistro | date: 'dd/MM/yyyy HH:mm'}}</div>
                                          <div class="desc">
                                              <h3>{{row.NombreUsuario}}</h3>
                                              <h4>{{row.Descripcion}}</h4>
                                              <div class="people">
                                                <img src="./assets/img/deepgrade_logo.png" alt="">                                                
                                            </div>
                                          </div>
                                      </li>
                                      <!-- <li>
                                          <div class="bullet green"></div>
                                          <div class="time">3 - 4pm</div>
                                          <div class="desc">
                                              <h3>Design Stand Up</h3>
                                              <h4>Hangouts</h4>
                                              <div class="people">
                                                  <img src="https://s3.amazonaws.com/uifaces/faces/twitter/ashleyford/128.jpg" alt="">
                                                  <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg" alt="">
                                                  <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mattsince87/128.jpg" alt="">
                                              </div>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="bullet orange"></div>
                                          <div class="time">12pm</div>
                                          <div class="desc">
                                              <h3>Lunch Break</h3>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="bullet green"></div>
                                          <div class="time">9 - 11am</div>
                                          <div class="desc">
                                              <h3>Finish Home Screen</h3>
                                              <h4>Web App</h4>
                                          </div>
                                      </li> -->
                                  </ul>
                              </div>
                          </div>
                            
                          </div>
                        </div>
                      </mat-tab>
                    </mat-tab-group>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>