<div class="main-content content-fadeIn">
  <div class="container-fluid">
    <div class=" row">
      <div class="col-md-12">
        <xng-breadcrumb></xng-breadcrumb>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon"><i class="material-icons">description</i></div>
            <h4 class="card-title">SOLICITUD DE DISTRIBUCION</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <mat-accordion class="example-headers-align" multi>
                  <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        SOLICITUD DE DISTRIBUCION
                      </mat-panel-title>
                      <mat-panel-description>
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-6">
                              <h5><strong style="font-weight: 580;">CodigoXXXXXX</strong></h5>
                            </div>
                            <div class="offset-md-1 col-md-5">
                              <h5 class="text-lg-end"><strong style="font-weight: 580;">
                                  Estado XXXXXX </strong>
                              </h5>

                            </div>
                          </div>
                        </div>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-md-12">
                        <button (click)="btnCargaMasivaDistribucion()" class="btn btn-primary" mat-raised-button>
                          <mat-icon>headset_mic</mat-icon>
                          CARGAR MASIVA DISTRIBUCIÓN
                        </button>
                        <button class="btn btn-primary" mat-raised-button>
                          <mat-icon>back_hand</mat-icon>
                          CARGAR MASIVA OTROS
                        </button>
                        <button class="btn btn-info" mat-raised-button>
                          <mat-icon>back_hand</mat-icon>
                          ENVIAR
                        </button>
                      </div>
                      <div class="col-md-12">
                        <br />
                        <div class="row">
                          <div class="col-md-2">
                            <label class="control-label">Solicitante:</label>
                          </div>
                          <div class="col-md-4">
                            <label class="control-label">ADMINISTRADOR SISTEMA</label>
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Fecha de Registro:</label>
                          </div>
                          <div class="col-md-4">
                            <label class="control-label">26/05/2023 12:01 pm</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <label class="control-label">Correo:</label>
                          </div>
                          <div class="col-md-4">
                            <label class="control-label">GESTIONDEEDIFICIOSYMANTENIMIENTOEDI@VALTX.PE</label>
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Sede / Agencia:</label>
                          </div>
                          <div class="col-md-4">
                            <label class="control-label">(2105)SAN BORJA-EDIFICIO 1-PISO 1</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <label class="control-label">Telefono:</label>
                          </div>
                          <div class="col-md-4">
                            <label class="control-label">2227000</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>

                  <mat-expansion-panel [expanded]="matexpansionpaneldatosgenerales">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        DATOS GENERALES / ITEMS
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-tab-group [color]="'accent'" [backgroundColor]="'primary'">
                      <mat-tab label="DATOS GENERALES ">
                        <fieldset class="form-group p-3">
                          <legend class="w-auto px-2">DATOS GENERALES</legend>
                          <div class=" row">
                            <div class="col-md-12">
                              <mat-form-field appearance="outline">
                                <mat-label>Descripción de Items</mat-label>
                                <input matInput placeholder="Ingrese Descripción de Items">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class=" row">
                            <div class="col-md-8">
                              <!-- outline -->
                              <mat-form-field appearance="outline">
                                <mat-label>Tipo de Servicio</mat-label>
                                <mat-select>
                                  <!-- *ngFor="let food of foods" [value]="food.value" -->
                                  <mat-option>
                                    ENVÍO
                                    <!-- {{food.viewValue}} -->
                                  </mat-option>
                                  <mat-option>
                                    RECOJO
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field appearance="outline">
                                <mat-label>Prioridad</mat-label>
                                <mat-select>
                                  <mat-option>
                                    NORMAL
                                  </mat-option>
                                  <mat-option>
                                    URGENTE
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class=" row">
                            <div class="col-md-6">
                              <fieldset class="form-group p-3">
                                <legend class="w-auto px-2">Origen</legend>
                                <div class="row">
                                  <div class="col-md-12">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Tipo Origen</mat-label>
                                      <mat-select>
                                        <mat-option>
                                          ALMACÉN
                                        </mat-option>
                                        <mat-option>
                                          AGENCIA
                                        </mat-option>
                                        <mat-option>
                                          OTROS
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-12">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Agencia Origen</mat-label>
                                      <mat-select>
                                        <mat-option>
                                          ALMACÉN HATUN WASI
                                        </mat-option>
                                        <mat-option>
                                          ALMACÉN MIBANCO
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-12">
                                    <mat-form-field appearance="outline" [style.fontSize.px]=12>
                                      <mat-label>Dirección Origen</mat-label>
                                      <!-- formControlName="descripcionDetalladaCtrl" -->
                                      <textarea matInput disabled="disabled" required></textarea>
                                      <!-- <mat-error
                                        *ngIf="datosBasicosFormGroup.get('descripcionDetalladaCtrl')?.hasError('required')">
                                        Se necesita que se ingrese descripción detallada.
                                      </mat-error>
                                      <mat-error
                                        *ngIf="datosBasicosFormGroup.get('descripcionDetalladaCtrl')?.hasError('minlength')">
                                        El telefono debe tener al menos 10 caracteres.
                                      </mat-error>
                                      <mat-error
                                        *ngIf="datosBasicosFormGroup.get('descripcionDetalladaCtrl')?.hasError('maxlength')">
                                        El telefono no debe exceder los 200 caracteres.
                                      </mat-error> -->
                                    </mat-form-field>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            <div class="col-md-6">
                              <fieldset class="form-group p-3">
                                <legend class="w-auto px-2">Destino</legend>
                                <div class="row">
                                  <div class="col-md-12">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Tipo Destino</mat-label>
                                      <mat-select>
                                        <mat-option>
                                          ALMACÉN
                                        </mat-option>
                                        <mat-option>
                                          AGENCIA
                                        </mat-option>
                                        <mat-option>
                                          OTROS
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-12">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Agencia Destino</mat-label>
                                      <mat-select>
                                        <mat-option>
                                          ALMACÉN HATUN WASI
                                        </mat-option>
                                        <mat-option>
                                          ALMACÉN MIBANCO
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-12">
                                    <mat-form-field appearance="outline" [style.fontSize.px]=12>
                                      <mat-label>Dirección Destino</mat-label>
                                      <!-- formControlName="descripcionDetalladaCtrl" -->
                                      <textarea matInput disabled="disabled" required></textarea>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </div>
                          <div class=" row">
                            <div class="col-md-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Tipo de Paquete</mat-label>
                                <mat-select>
                                  <mat-option>
                                    Cajas de Documentos
                                  </mat-option>
                                  <mat-option>
                                    Celulares
                                  </mat-option>
                                  <mat-option>
                                    Economato
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Usuario Destino</mat-label>
                                <mat-select>
                                  <mat-option>
                                    ALMACÉN
                                  </mat-option>
                                  <mat-option>
                                    AGENCIA
                                  </mat-option>
                                  <mat-option>
                                    OTROS
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                          <!-- <div class=" row">
                            <div class="col-md-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Sede / Agencia</mat-label>
                                <input matInput placeholder="Ingrese Sede / Agencia">
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Telefono.</mat-label>
                                <input matInput placeholder="Ingrese telefono">
                                <mat-icon matSuffix>phone</mat-icon>
                              </mat-form-field>
                            </div>
                          </div> -->
                        </fieldset>
                      </mat-tab>
                      <mat-tab label="ITEMS"> ITEMS </mat-tab>
                    </mat-tab-group>
                  </mat-expansion-panel>

                </mat-accordion>
              </div>
            </div>
          </div>
          <!--          <div class="card-footer"></div>-->
        </div>
      </div>
    </div>
  </div>
</div>